/node_modules
logs
.gitignore

# eventual R-files
*.Rmd

# temporary files
*.temporary
temp
*.temp
*temp\\.?*
config.json
*.test
output_test
output
migration
migrations
outputs
*Sheet1.cls
*Sheet2.cls
*Sheet3.cls
config.json
src/vba-files-lla
linelist_designer_lla.xlsb
