/*-- scss:defaults --*/

/* Define colors */
:root {
    --green_hightlight: #20be9f;      /* bs-link-color-rgb */
    --dark_blue: #2c3e50;             /* background-color */
    --grey_code: #2c3e501a;
    

}


/*-- scss:rules --*/

/* BLOCKQUOTE for trainee instructions */
blockquote {
  font-size: 1em;
  color: var(--bs-link-color-rgb);
  border-left-color: var(--bs-link-color-rgb);
}

/* Titres */
/*h1 {
  color: var(--primary);
}

h1.title {
  font-size: 40px;
  font-weight: 400;
}*/


/* Inline code */
code {
  color: var(--bs-link-color-rgb);
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 0.2em 0.25em 0.2em 0.25em
}



#homepage-text {
  text-align: center;
}


/* ----- Cards  ----- */

.homepage-card-grid {
  display: flex;
  /*flex-direction: column;*/
}

.card.homepage-card {
  width: 50%;
  border-radius: 10px;
  margin: 25px;
  padding: 10px;
  box-shadow: 5px 5px 10px;
  transition: 0.5s;
}

.card.homepage-card:hover {
  box-shadow: 5px 5px 15px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.card.homepage-card .card-img {
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.card.homepage-card .card-body {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.card.homepage-card .card-title {
  color: var(--dark_blue);
  font-weight: bolder;
  font-size: 30px;
}

.card.homepage-card > p {
  margin-bottom: 0;
}


.btn {
  background-color: var(--dark_blue) !important;
  font-weight: bolder;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--dark_blue) !important;
  font-weight: bolder;
  color: white;
}
